[program:csv-message-consume]
command=php /appdata/www/app/bin/console messenger:consume amqp_csv --memory-limit=256M
user=appuser
numprocs=1
startsecs=5
autostart=true
autorestart=true
startretries=10
process_name=%(program_name)s_%(process_num)02d
