server {
    listen       443 ssl;
    server_name  localhost;
    ssl_certificate dev.crt;
    ssl_certificate_key dev.key;
    include options-ssl-nginx.conf;
    ssl_dhparam ssl-dhparams.pem;

    root /appdata/www/api/public;

    location / {
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /index.php/$1 last;
    }

    location ~ ^/index\.php(/|$) {
        fastcgi_pass envlabel-api-php:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }

    error_log /var/log/nginx/api_error.log;
    access_log /var/log/nginx/api_access.log;
}
