-----BEGIN CERTIFICATE-----
MIIDqzCCApOgAwIBAgIUEXGimgwi4grHLMcCUORPidWHn1IwDQYJKoZIhvcNAQEL
BQAwZTELMAkGA1UEBhMCRVMxDzANBgNVBAgMBk1hZHJpZDEPMA0GA1UEBwwGTWFk
cmlkMRkwFwYDVQQKDBBFdXJvZmlucy1NZWdhbGFiMQswCQYDVQQLDAJJVDEMMAoG
A1UEAwwDZGV2MB4XDTIwMTAxNjE3MTEwM1oXDTIxMTAxNjE3MTEwM1owZTELMAkG
A1UEBhMCRVMxDzANBgNVBAgMBk1hZHJpZDEPMA0GA1UEBwwGTWFkcmlkMRkwFwYD
VQQKDBBFdXJvZmlucy1NZWdhbGFiMQswCQYDVQQLDAJJVDEMMAoGA1UEAwwDZGV2
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs704FkQkzP8rlisRh7NF
F9XGDblEbpDLngDhjDyIdfOHRQG2Pyyrp9u29z3zsz06B4+gl/lAZ3QEz6lNkxRs
mqpnejwc2oEkBNz2YmZ4kqXrZeyK/DngJqwf3afuGbq20EaPieU2Ir/2bf6Fg5dH
iD9DtEhbLEb7OK8wbyoxoxabAMa0Mu5CQi1uN/NItOzgfwA96wyFmPwZu+3r2QvA
YG1ajm6sMIDi4UbQFe+ZL5Y/f9+27TAGiuAWLa7gyxz3uv8Y+zbAaDOLPccfxSoE
2l4RfBWlZ3JdICQiXpejEDAR7u4dkEtvMff4SjMoLuWCCQ0WMv3LfpYEoMGTbqd3
6wIDAQABo1MwUTAdBgNVHQ4EFgQUV8BvzZrYAimn5+ElO1EISowVrx0wHwYDVR0j
BBgwFoAUV8BvzZrYAimn5+ElO1EISowVrx0wDwYDVR0TAQH/BAUwAwEB/zANBgkq
hkiG9w0BAQsFAAOCAQEArCkwOgmOnGoHM5xcuVvaoaM51+Q0R0+KJ6IcGaLAfPx7
zWCHr8gEozFbFsET6VWm1UFgnm/ABha8ozwgkMGAwtXZyw7inKaCoj76qCBCuIW9
QOVq1vMw3plyrUwCzaoSVPDFE1ydovqRI+jJWJ6fyL4AHGHMF9Nu81AB5GmTq/zn
MG6MytGQwU6CFIgWEJ6pO8hH8BQlFZ5RRtkWHWCiFh16KHtz6F6dqiXdd5gYDNgI
DZvUXpfYfpF6qYAewH2v5dYfwKq/ArwECgwNHrtsDUVJuLbkX/3KEfOSPoVjF3Mv
8EomF1560whXKLn4JfNPL/1fizoxkC2eRKRqGZiOrA==
-----END CERTIFICATE-----
